In [5]:
import nasdaqdatalink as quandl
import pandas as pd

In [8]:
data = pd.read_csv("nasdaq_screener_20230622.csv")
data.sort_values(by="Market Cap", ascending=False, inplace=True)
data.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
22,AAPL,Apple Inc. Common Stock,$185.465,1.5050,0.818%,2.917123e+12,United States,1980.0,7281925,Technology,Computer Manufacturing
4540,MSFT,Microsoft Corporation Common Stock,$336.71,3.1500,0.944%,2.503603e+12,United States,1986.0,3687698,Technology,Computer Software: Prepackaged Software
3050,GOOG,Alphabet Inc. Class C Capital Stock,$121.605,0.3450,0.285%,1.544019e+12,United States,2004.0,3221308,Technology,Computer Software: Programming Data Processing
3051,GOOGL,Alphabet Inc. Class A Common Stock,$120.94,0.3900,0.324%,1.535575e+12,United States,2004.0,5474863,Technology,Computer Software: Programming Data Processing
419,AMZN,Amazon.com Inc. Common Stock,$127.9599,3.1299,2.507%,1.312914e+12,United States,1997.0,15850686,Consumer Discretionary,Catalog/Specialty Distribution

In [21]:

quandl.ApiConfig.api_key = '2t6jF1958vkM2PYyDF1v'
fundamental_data = quandl.get_table('SHARADAR/SF1', calendardate='2018-12-31', ticker=",".join(data.head(500)['Symbol'].to_list()))
fundamental_data

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,XOM,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-02,-19564000000,346196000000,349610000000,4.797300e+10,...,4233807170,4233807170,NaN,68.546,346196000000,0,9532000000,29856000000,81.769,-9.165000e+09
1,WMT,MRY,2018-12-31,2019-01-31,2019-01-31,2023-06-03,-11542000000,219295000000,214216750000,6.189700e+10,...,2905260059,2929000000,2.945000e+09,175.625,188114000000,0,4281000000,12409000000,64.225,-1.558000e+10
2,VZ,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-27,2370000000,264829000000,264552500000,3.463600e+10,...,4132015101,4128000000,4.132000e+09,31.701,136310000000,0,3584000000,33795000000,33.021,-3.294000e+09
3,V,MRY,2018-12-31,2018-09-30,2018-09-30,2023-04-27,547000000,69225000000,68399000000,1.821600e+10,...,2034251465,2049000000,2.586000e+09,9.202,26473000000,0,2505000000,4618000000,11.821,6.911000e+09
4,UNH,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-26,-4160000000,152221000000,153372000000,3.869200e+10,...,962034200,963000000,9.830000e+08,234.940,83986000000,0,3562000000,2474000000,87.213,-1.451700e+10
5,TSLA,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-24,-8000000,29740000000,28546035500,8.307000e+09,...,2575991625,2559000000,2.559000e+09,8.386,29390000000,0,58000000,0,11.485,-1.686000e+09
6,TRV,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-19,-1859000000,104233000000,103955500000,NaN,...,264882804,267400000,2.698000e+08,113.246,99951000000,445000000,438000000,0,373.788,NaN
7,PG,MRY,2018-12-31,2018-06-30,2018-06-30,2023-04-21,-14749000000,118310000000,123043500000,2.332000e+10,...,2514599476,2514599476,NaN,26.578,49233000000,0,3465000000,6163000000,19.579,-4.917000e+09
8,PFE,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-10,-11275000000,159422000000,164213000000,4.992600e+10,...,5780474578,5872000000,5.977000e+09,6.952,70800000000,5298000000,-266000000,19702000000,12.057,1.806800e+10
9,NKE,MRY,2018-12-31,2018-05-31,2018-05-31,2023-04-06,-92000000,22536000000,23197500000,1.513400e+10,...,1611759392,1623800000,1.659100e+09,22.415,22097000000,2509000000,2392000000,3366000000,13.608,9.094000e+09
10,MSFT,MRY,2018-12-31,2018-06-30,2018-06-30,2023-04-25,-2187000000,258848000000,252361250000,1.696620e+11,...,7683197503,7700000000,7.794000e+09,14.332,215112000000,0,19903000000,32927000000,27.937,1.111740e+11
11,MRK,MRY,2018-12-31,2018-12-31,2018-12-31,2023-06-21,-5545000000,82637000000,84712000000,2.587500e+10,...,2600376500,2664000000,2.679000e+09,15.876,51280000000,0,2508000000,3673000000,19.249,3.669000e+09
12,MMM,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-25,-6866000000,36500000000,37282000000,1.370900e+10,...,582287135,588500000,6.020000e+08,55.675,23792000000,0,1637000000,243000000,40.428,6.465000e+09
13,MCD,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-04,-2609500000,32811200000,33324050000,4.053200e+09,...,770910250,778200000,7.856000e+08,27.317,30479700000,0,1891800000,3778700000,39.167,1.079700e+09
14,KO,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-26,-12814000000,83216000000,88242000000,2.493000e+10,...,4256513898,4259000000,4.299000e+09,8.054,61629000000,2674000000,1749000000,2765000000,14.470,-3.852000e+09
15,JPM,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-03,-1507000000,2622532000000,2609387500000,NaN,...,3325410725,3396400000,3.414000e+09,32.029,2568183000000,0,8290000000,0,756.149,NaN
16,JNJ,MRY,2018-12-31,2018-12-30,2018-12-30,2023-04-29,-15222000000,152954000000,155161750000,4.603300e+10,...,2681977969,2681500000,2.728700e+09,30.424,74890000000,7640000000,2702000000,16566000000,27.928,1.480300e+10
17,INTC,MRY,2018-12-31,2018-12-29,2018-12-29,2023-04-28,-974000000,127963000000,127693250000,2.878700e+10,...,4564000000,4611000000,4.701000e+09,15.365,91614000000,0,2264000000,6562000000,19.869,1.216100e+10
18,IBM,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-25,-29490000000,123382000000,123069750000,4.914600e+10,...,908793777,912048072,9.163157e+08,87.266,84030000000,5216000000,2619000000,3046000000,92.133,1.091900e+10
19,HD,MRY,2018-12-31,2019-02-03,2019-02-03,2023-05-23,-772000000,44003000000,45521250000,1.852900e+10,...,1129527754,1137000000,1.143000e+09,95.165,41751000000,0,3435000000,1158000000,36.720,1.813000e+09
20,GS,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-04,693000000,931796000000,957782750000,NaN,...,371973740,385400000,3.902000e+08,95.008,931796000000,0,2022000000,0,2417.737,NaN
21,GE,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-25,-14414000000,311072000000,330910250000,NaN,...,1087264375,1087264375,NaN,89.226,264920000000,12117000000,93000000,0,243.657,NaN
22,DIS,MRY,2018-12-31,2018-09-29,2018-09-29,2023-05-10,-3097000000,98598000000,98266750000,1.682500e+10,...,1487242596,1499000000,1.507000e+09,39.649,60517000000,0,1663000000,3109000000,40.372,-1.035000e+09
23,DD,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-03,-12394000000,187855000000,188029000000,1.266550e+11,...,764740291,767000000,7.718000e+08,29.458,138704000000,178000000,195000000,4027000000,180.840,5.334300e+10
24,CVX,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-04,-3544000000,253863000000,256210000000,3.402100e+10,...,1910774369,1910774369,NaN,87.053,249345000000,0,5715000000,18486000000,130.494,6.850000e+09
25,CSCO,MRY,2018-12-31,2018-07-28,2018-07-28,2023-05-24,-849000000,108784000000,121206000000,6.183700e+10,...,4702882494,4837000000,4.881000e+09,10.198,74526000000,3219000000,12929000000,9589000000,15.407,3.480200e+10
26,CAT,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-03,-1684000000,78509000000,78429750000,3.860300e+10,...,590106711,591400000,5.994000e+08,92.530,70395000000,1439000000,1698000000,0,119.031,1.038500e+10
27,BA,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-26,-15083000000,117359000000,114690500000,8.783000e+10,...,567885369,567885369,NaN,178.076,106090000000,284000000,1144000000,1736000000,186.816,6.240000e+09
28,AXP,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-21,-2597000000,188602000000,185627750000,NaN,...,854261803,856000000,8.590000e+08,43.208,188602000000,0,1201000000,0,220.329,NaN
29,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2023-05-16,-3454000000,365725000000,372304500000,1.313390e+11,...,19319704000,19821510000,2.000044e+10,13.399,365725000000,0,13372000000,0,18.451,1.541000e+10

In [ ]:
# https://preserverpartners.com/wp-content/uploads/2018/06/Expected_Returns_on_Major_Asset_Classes.pdf
fundamental_data["earningsyield"] = fundamental_data["eps"] / fundamental_data["price"]