In [8]:
import nasdaqdatalink as quandl
import pandas as pd

In [9]:
data = pd.read_csv("nasdaq_screener_20230622.csv")
data.sort_values(by="Market Cap", ascending=False, inplace=True)
data.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
22,AAPL,Apple Inc. Common Stock,$185.465,1.5050,0.818%,2.917123e+12,United States,1980.0,7281925,Technology,Computer Manufacturing
4540,MSFT,Microsoft Corporation Common Stock,$336.71,3.1500,0.944%,2.503603e+12,United States,1986.0,3687698,Technology,Computer Software: Prepackaged Software
3050,GOOG,Alphabet Inc. Class C Capital Stock,$121.605,0.3450,0.285%,1.544019e+12,United States,2004.0,3221308,Technology,Computer Software: Programming Data Processing
3051,GOOGL,Alphabet Inc. Class A Common Stock,$120.94,0.3900,0.324%,1.535575e+12,United States,2004.0,5474863,Technology,Computer Software: Programming Data Processing
419,AMZN,Amazon.com Inc. Common Stock,$127.9599,3.1299,2.507%,1.312914e+12,United States,1997.0,15850686,Consumer Discretionary,Catalog/Specialty Distribution

In [10]:

quandl.ApiConfig.api_key = '2t6jF1958vkM2PYyDF1v'
fundamental_data = quandl.get_table('SHARADAR/SF1', calendardate='2018-12-31', ticker=",".join(data.head(500)['Symbol'].to_list()))
fundamental_data.head()
# 'ticker', 'dimension', 'calendardate', 'datekey', 'reportperiod', 'lastupdated', 'accoci', 'assets', 'assetsavg', 'assetsc', 'assetsnc', 'assetturnover', 'bvps', 'capex', 'cashneq', 'cashnequsd', 'cor', 'consolinc', 'currentratio', 'de', 'debt', 'debtc', 'debtnc', 'debtusd',
# 'deferredrev', 'depamor', 'deposits', 'divyield', 'dps', 'ebit', 'ebitda', 'ebitdamargin', 'ebitdausd', 'ebitusd', 'ebt', 'eps', 'epsdil', 'epsusd', 'equity', 'equityavg', 'equityusd', 'ev', 'evebit', 'evebitda', 'fcf', 'fcfps', 'fxusd', 'gp', 'grossmargin', 'intangibles', 'intexp',
# 'invcap', 'invcapavg', 'inventory', 'investments', 'investmentsc', 'investmentsnc', 'liabilities', 'liabilitiesc', 'liabilitiesnc', 'marketcap', 'ncf', 'ncfbus', 'ncfcommon', 'ncfdebt', 'ncfdiv', 'ncff', 'ncfi', 'ncfinv', 'ncfo', 'ncfx', 'netinc', 'netinccmn', 'netinccmnusd',
# 'netincdis', 'netincnci', 'netmargin', 'opex', 'opinc', 'payables', 'payoutratio', 'pb', 'pe', 'pe1', 'ppnenet', 'prefdivis', 'price', 'ps', 'ps1', 'receivables', 'retearn', 'revenue', 'revenueusd', 'rnd', 'roa', 'roe', 'roic', 'ros', 'sbcomp', 'sgna', 'sharefactor', 'sharesbas',
# 'shareswa', 'shareswadil', 'sps', 'tangibles', 'taxassets', 'taxexp', 'taxliabilities', 'tbvps', 'workingcapital'
# https://data.nasdaq.com/tables/SHARADAR-INDICATORS/export?api_key=2t6jF1958vkM2PYyDF1v&table%5B%5D=SF1&table%5B%5D=TICKERS

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,XOM,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-02,-19564000000,346196000000,349610000000,4.797300e+10,...,4233807170,4233807170,NaN,68.546,346196000000,0,9532000000,29856000000,81.769,-9.165000e+09
1,WMT,MRY,2018-12-31,2019-01-31,2019-01-31,2023-06-03,-11542000000,219295000000,214216750000,6.189700e+10,...,2905260059,2929000000,2.945000e+09,175.625,188114000000,0,4281000000,12409000000,64.225,-1.558000e+10
2,VZ,MRY,2018-12-31,2018-12-31,2018-12-31,2023-04-27,2370000000,264829000000,264552500000,3.463600e+10,...,4132015101,4128000000,4.132000e+09,31.701,136310000000,0,3584000000,33795000000,33.021,-3.294000e+09
3,V,MRY,2018-12-31,2018-09-30,2018-09-30,2023-04-27,547000000,69225000000,68399000000,1.821600e+10,...,2034251465,2049000000,2.586000e+09,9.202,26473000000,0,2505000000,4618000000,11.821,6.911000e+09
4,UNH,MRY,2018-12-31,2018-12-31,2018-12-31,2023-05-26,-4160000000,152221000000,153372000000,3.869200e+10,...,962034200,963000000,9.830000e+08,234.940,83986000000,0,3562000000,2474000000,87.213,-1.451700e+10

In [15]:
fundamental_data['ncfo']

None
0     36014000000
1     27753000000
2     34339000000
3     12941000000
4     15713000000
5      2098000000
6      4380000000
7     14867000000
8     15827000000
9      4955000000
10    43884000000
11    10922000000
12     6439000000
13     6966700000
14     7627000000
15    15614000000
16    22201000000
17    29432000000
18    15247000000
19    13165000000
20    16564000000
21     4978000000
22    14295000000
23     4731000000
24    30618000000
25    13666000000
26     6558000000
27    15322000000
28     8930000000
29    77434000000
Name: ncfo, dtype: int64

In [20]:
# Value
pe = fundamental_data['price'] / fundamental_data['eps']
cash_flow_yield = fundamental_data['ncfo'] / fundamental_data['marketcap']
dividend_yield = fundamental_data['divyield']
dividend_yield2 = fundamental_data['dps'] / fundamental_data['price']
book_price = fundamental_data['equityusd'] / fundamental_data['marketcap']
book_price = fundamental_data['bvps'] / fundamental_data['price']
earings_yield = fundamental_data['epsusd'] / fundamental_data['price']

In [ ]:
# Quality